


h1{
margin: 0px;
}
.slide-1{
  background-image: url("image/steve.jpg");
  background-size: cover;
}
.slide-2{
  background-image: url("image/einstein.jpg");
  background-size: cover;
}
.slide-3{
  background-image: url("image/billgates.jpg");
  background-size: cover;
}


.sec-1{
  background-image: url("image/bilg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#at{

  background-color: rgba(0, 0, 0, 0.6);
  color: white;
 font-family: 'PT Sans Narrow', sans-serif;
 padding: 5px 5px 5px 5px;
 text-align: center;
 width:auto;
 margin-top: 200px;
 font-size: 30px;


}

.fp-tableCell{
  vertical-align: top;
}
.bill{
  margin-top: 90%;
}
.navbar-fixed-top{
  background-color: transparent;
  border: 0px;
}
.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 100%;
    display: block;
}

@media (max-width: 800px) {
#page-1 {
  min-height: 100%;
  min-width: 100%;
  background-image: url("image/bism.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 991px) {
    .container-smooth-sm {
        width: auto;
        max-width: none;
    }
}
@media (min-width: 766px){
.navbar-toggle {
    display: block;
}
.soc{
  display: block;
}
}
#at{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
 font-family: 'PT Sans Narrow', sans-serif;
 padding: 0px 5px 5px 5px;
 margin-top: 70px;
 font-size: 18px;
}
.slide-1{
  background-image: url("image/ssm.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}
.slide-2{
  background-image: url("image/esm.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}
.slide-3{
  background-image: url("image/bsm.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}
}
