
.rw-wrapper{
	font-family: 'Bree Serif';
	padding: 10px;
	
}

.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;

	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;

}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;

}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;

}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    25% { opacity: 0; -ms-transform: translateY(-30px); }
	50% { opacity: 1; -ms-transform: translateY(0px);}
    75% { opacity: 1; -ms-transform: translateY(0px); }
	100% { opacity: 0; -ms-transform: translateY(30px); }

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	50% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    75% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	100% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }

}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}
