<link rel="apple-touch-icon-precomposed" sizes="48x48" href="{{ site.url }}/assets/images/favicon/profile_icon_48.ico" />
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ site.url }}/assets/images/favicon/profile_icon_192.ico" />
<link rel="apple-touch-icon-precomposed" sizes=96x96" href="{{ site.url }}/assets/images/favicon/profile_icon_96.ico" />
<link rel="apple-touch-icon-precomposed" sizes="64x64" href="{{ site.url }}/assets/images/favicon/profile_icon_64.ico" />
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ site.url }}/assets/images/favicon/profile_icon_128.ico" />
<link rel="apple-touch-icon-precomposed" sizes="64x64" href="{{ site.url }}/assets/images/favicon/profile_icon_64.ico" />
<link rel="apple-touch-icon-precomposed" sizes="256x256" href="{{ site.url }}/assets/images/favicon/profile_icon_256.ico" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_256.ico" sizes="256x256" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_192.ico" sizes="192x192" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_128.ico" sizes="128x128" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_96.ico" sizes="96x96" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_64.ico" sizes="64x64" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_48.ico" sizes="48x48" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_32.ico" sizes="32x32" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_24.ico" sizes="24x24" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/profile_icon_16.ico" sizes="16x16" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="profile_icon_256.ico" />
<meta name="msapplication-square70x70logo" content="profile_icon_64.ico" />
<meta name="msapplication-square128x128logo" content="profile_icon_128.ico" />
<meta name="msapplication-wide192x192logo" content="profile_icon_192.ico" />
<meta name="msapplication-squar256x256logo" content="profile_icon_256.ico" />
